*{
    font-family: 'Droid Sans Mono', monospace;
}
a {
    text-decoration: none;
    color: green;
    font-weight: bolder;
}

body {
    background-color: #3FA0FF;
}
div {
    color: #fff;
    margin: 20px;
    justify-content: center;
}
#clock {
    font-size: 48px;
}
.title {
    font-size: 72px;
    grid-column: 1 / 3;
}
.timer {
    grid-column: 1 / 3;
}
.head1 {
    font-size: 60px;
    align-self: center;
}
.rules {
    font-size: 30px;
}
.faq {
    font-size: 30px;
}
#side {
    font-size: 28px;
}

.grid {
    display: grid;
    /*grid-template-columns: 1fr 1fr;*/
    justify-content: center;
    grid-gap: 15px;
}

@media(max-width: 880px) {
    #clock {
        font-size: 36px;
    }
    .title {
        font-size: 60px;
        grid-column: 1 / 3;
    }
    .timer {
        grid-column: 1 / 3;
    }
    .head1 {
        font-size: 48px;
        align-self: center;
    }
    .rules {
        font-size: 18px;
    }
    .faq {
        font-size: 18px;
    }
    #side {
        font-size: 16px;
    }
}

@media(max-width: 880px) {
    div {
        margin:10px;
    }
    #clock {
        font-size: 15px;
    }
    .title {
        font-size: 36px;
        grid-column: 1 / 3;
    }
    .timer {
        grid-column: 1 / 3;
    }
    .head1 {
        font-size: 30px;
        align-self: center;
    }
    .rules {
        font-size: 12px;
    }
    .faq {
        font-size: 12px;
    }
    #side {
        font-size: 12px;
        display: block;
    }
}